* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

tests/Fixtures/recipes-golden/** whitespace=-blank-at-eol,-blank-at-eof
resources/recipes/** whitespace=-blank-at-eol,-blank-at-eof
